/*Os efeitos da página estão todos aqui*/

/*  Animações  */


.mini-catg, .show-articles-md, .products, .all-pay-info, .offer-day, .ap-area{
    animation-duration: 2s;
    animation-name: calltop;
}


@keyframes calltop {

    from{
        margin-left: 100%;
        opacity: 20%;
    }

    to{
        margin-left: initial;
        opacity: 100%;
    }
    
}


#btn-top-cart{
    animation-duration: .8s;
    animation-name: plus;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


@keyframes plus {
        from{
            transform: scale(1);
        }

        to{
            transform: scale(1.3);
        }
}



 /* max wid  */
/* resolution all */
*{
    transition: .32s ease-in-out;
}

/*header*/
.small-top-left .btn-top:hover{
    transform: scale(1.3);
    animation-play-state: paused;
}

.links-top a:hover{
    color: #fec842;
}

/*slides*/

.s-1, .s-2, .s-3{
    transition: 3s ease-in-out;
}

@media (min-width: 700px) {
    

#radio1:checked ~ .s-1{
    margin-top: 0%;
}

#radio1:checked ~  .s-3{
    display: none;
}


#radio2:checked ~ .s-1{
    margin-top: -66%;
}

#radio3:checked ~ .s-1{
    margin-top: -66%;
 }

#radio3:checked ~ .s-2{
   margin-top: -66%;
}

}

.navigation label:hover{
    background-color: #fec842;
}

.slide-btn:hover{
    background-color: #fec842;
    color: white;
}

.btn-to-next{
    display: none;
}


/*categorias*/
.c-color:hover{
    background-color: #006bff;
    background-image: none;
    color: white;
    transform: rotate(25deg);
}

.other-color:hover{
    background-color: #fec842;
    background-image: none;
    color: white;
    transform: rotate(-25deg);
}


/*search-area*/
.search-area button[type="submit"]:hover{
    transition: .4s ease-in-out;
    border-top-right-radius: 22%;
    transform: scale(1.1);
    background-color: #fec842;
    color: #006bff;
}

/*mais comprados*/
.c-1:hover, .c-2:hover, .c-3:hover, .c-4:hover{
    transform: scale(.95);
}

.btn-see-more:hover{
    background-color: #fec842;
    color: white;
}


/*products*/
.btn-add-to-cart:hover{
    background-color: inherit;
    background-color: #006bff;
    transition: .1s ease-in-out;
}

.next:hover, .previous:hover{
    transform: scale(1.6);
}

/*pay-info*/
.pay-info-card:hover{
    border-bottom: 10px solid #fec842;
}

.btn-type-see-more:hover{
    background-color: #fec842;
}

/*offer*/
.offer-day-card a:hover{
    text-decoration-color: #fec842;
    color: #fec842;
}

/*map*/
.btn-add:hover{
    background-color: #fec842;
}

/*FOOTER*/
.socials-link a:hover{
    color: #fec842;
    transition: .01s ease-in-out;
}

.group-list-links a:hover{
    margin-left: 3%;
    text-decoration: underline;
    color: #fec842;
}


/*APPPP*/

.close-app:hover{
    transform: scale(1.3);
    transition: .4s;
}

#form-btn:hover{
    background-color: #006bff;
    color: #fff;
}

.q1:hover {
    color: #fec842;
}


.q2:hover {
    color: #fec842;
}

.container-plus button:hover, .contant-down button:hover{
    background-color: #fec842;
}

#btn-type:hover{
    background-color: #fec842;
}

/**************************************************/
.change:hover{
    transform: scale(1.2);
}

.c-center a:hover{
    text-decoration: underline;
}

.c-right a:hover{
    transition: .1s;
    color: #fec842;
    text-decoration: underline;
}

.control:hover{
    transform: scale(1.2);
}

