body{
    overflow-wrap: hidden;
    min-width: 300px;
}



#container{
    display: grid;
    place-content: center;
}

.c-center, .c-left, .c-right{
    margin: 1.2cm 0px;
    width: 100%;
}

.c-center p{
    width: 80%;
}

.contant{
    display: grid;
    place-content: center;
}

.text-place, .image-place{
    width: 100%;
    text-align: center;
    margin: 5px 0px;
}

.container-plus{
    display: grid;
    height: 100%;
    place-content: center;
    place-items: center;
}

.contant-f-ch{
    width: 100%;
    height: 100%;
}

.text-t-ch span{
    width: 100%;
}

.none-click{
    display: grid;
}

.none-click p{
    width: 100%;
}

.middle-p{
    border: 0px;
}

#g1{
    margin-top: 2ch;
    display: inline-block;
    padding: 0px;
    text-align: center;
    
}

#g1 input{
    width: 83.5%;
    margin: 2ch 0ch;
}

/*alterações na navbar*/
#nav-showToggle{
    display: none;
}
.toggle-area{
    display: inline-block;
}

.nav-right{
    margin-right: 19%;
}

.nav-right i{
    font-size: xx-large;

}



/*alterações em slide*/

.slide-all-content-important{
    display: block;
    width: 100%;
    align-items: center;
}

input[type="radio"], .navigation, .slide-image{
    display: none;
}

.text-slide-are{
    margin: 0 auto;
    width: 80%;
}

.slide-all-content-important .slide-image{
    width: 86%;
    text-align: center;
    display: inline;
}

/*alterações na area de catg*/
.mini-catg{
    margin: 0 auto;
    padding: 2%;
}

.items-catg{
    flex-wrap: wrap;
    margin: 0 auto;
}

/*alterações para bloco de pesquisa*/
.search-area{
    margin-top: 15%;
    margin-bottom: 15%;
}

.search-area input{
    width: 300px;
}


button[type="submit"]{
    border: 0px;
    background-color: #006bff;
    padding-left: 5%;
    padding-right: 5%;
}

/* alterações para mais comprados*/


.section-c{
    display: flex;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;

}

.c-2, .c-3{
    width: 1000px;
}

/*alteração na area de produtos*/

.products{
    width: 100%;
}
.compressed{
    width: 100%;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    padding: 0%;
    
}

.compressed-x{
    margin: 0 auto;
    width: 100%;
    padding: 1px;
}


/*aletrações para area de .organize ou pay-info*/

.all-pay-info{
    width: 100%;
    height: 100%;
    margin-bottom: 8%;
}
.organize{
    display: block;
}

.pay-info-card{
    margin: 0 auto;
}


/*alterações para o */
.offer-flex{
    width: 100%;
    height: 100%;
    display: block;
    row-gap: 1%;
    padding: 1%;
    justify-content: center;
    margin: 0 auto;
}

.offer-day-card{
    margin: 0 auto;
    margin-bottom: 1.5ch;
    width: 280px;
    height: 360px;
}

/*alterações no footer*/
footer *{
    margin: 0 auto;
    width: 100%;
}


#flex{
    display: flex;
}

#grid{
    display: grid;
    row-gap: 15px;
}

.icon-toggle{
    position: relative;
    display: block;
    width: 25px;
    height: 3px;
    border-radius: 8px;
    background-color: #006bff;
}

.icon-toggle::after{
    content: "";
    top: 9px;
    width: 100%;
    height: 90%;
    border-radius: 8px;
    display: block;
    position: absolute;
    background-color: #006bff;
    transition: 1s ease-in-out;
}

.icon-toggle::before{
    content: "";
    top: 18px;
    width: 100%;
    height: 90%;
    border-radius: 8px;
    display: block;
    position: absolute;
    background-color: #006bff;
    transition: 1s ease-in-out;
}

.control{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.control .icon-toggle{
    cursor: pointer;
}


#inp-tgg:checked ~ .nav-bar{
    display: grid;
    padding: 2%;
}

#inp-tgg:checked ~ .nav-bar #nav-showToggle{
    display: grid;
}


#inp-tgg:checked ~ .nav-bar #nav-showToggle #links{
    display: grid;
}

#inp-tgg:checked ~ .nav-bar .control .icon-toggle{
    transform: rotate(45deg);
}


#inp-tgg{
    display: none;
}

#inp-tgg:checked ~ .nav-bar .control .icon-toggle::before{
    top: 0px;
    transform: rotate(90deg);
}

#inp-tgg:checked ~ .nav-bar .control .icon-toggle::after{
    width: 0;
}