::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffb700;
}

@font-face {
  font-family: fonte1;
  src: url("../font/WorkSans-VariableFont_wght.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: fonte1;
  text-decoration: none;
  list-style: none;
  background-color: transparent;
  border: 0;
  transition: 0.5s, color;
}

body {
  position: relative;
  width: auto;
  max-width: 100vw;
  height: 100%;
  background-color: rgba(252, 248, 239, 0.484);
  color: #505763;
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

.svg {
  width: 1em;
}

a {
  color: #505763;
}
a:hover {
  color: #fec842;
}

:is(a, button, div) {
  transition: 0.2s;
}

div {
  overflow: hidden;
  transition: 0.4, display;
}

input[type=checkbox] {
  display: none;
}

label {
  width: 100%;
  cursor: pointer;
}

.price {
  color: rgba(1, 99, 1, 0.804);
  padding: 4% 0;
}

.last-price {
  color: #505763;
  text-decoration: line-through;
}

.bloco_cimo {
  width: 100%;
  height: 43px;
  background-color: #fec842;
  display: grid;
  align-content: center;
  justify-content: center;
}

.header {
  width: 100%;
  height: 100%;
  padding: 2%;
  background-color: white;
  border-bottom: 1px solid rgba(128, 128, 128, 0.184);
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
@media (max-width: 1200px) {
  .header {
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .header .h_seccao {
    width: 40%;
    display: grid;
    align-items: center;
    justify-content: center;
  }
  .header .h_seccao .h_seccao_btn {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .header .h_seccao .h_seccao_btn img {
    width: 1.8em;
  }
}

.h_seccao {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.h_seccao:nth-of-type(2) {
  display: none;
}
@media (max-width: 1200px) {
  .h_seccao:nth-of-type(2) {
    display: inline;
  }
}

.logo-texto {
  font-size: 2em;
  font-weight: 400;
}

.logo-texto::first-letter {
  color: #fec842;
  font-weight: 500;
}

.h_seccao input[type=search] {
  width: 85%;
  height: 35px;
  border-radius: 24px;
  padding-left: 20px;
  padding-right: 5px;
  background-color: rgba(252, 248, 239, 0.484);
  border: 1px solid gray;
}
.h_seccao input[type=search]:focus ~ button {
  display: none;
}

@media (max-width: 1200px) {
  .h_seccao input[type=search] ~ button {
    display: none;
  }
}

.h_seccao:nth-of-type(3) button {
  margin-left: -14%;
}

.h_seccao_md {
  display: flex;
  gap: 6px;
}

.h_seccao_md :is(div, a, button) {
  display: grid;
}

.h_seccao_md img {
  width: 40px;
}

@media (max-width: 1200px) {
  :is(.h_seccao:not(:first-of-type, :nth-of-type(2))) {
    display: none;
  }
  #t-check:checked ~ .h_seccao {
    background-color: #fec842;
    padding: 3%;
    width: 80%;
    display: grid;
  }
  #t-check:checked ~ .h_seccao a:hover {
    color: rgba(252, 248, 239, 0.484);
  }
  #t-check:checked ~ .h_seccao:not(:last-of-type) {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    margin-bottom: -2%;
  }
}
.Categorias-h .c-dropdown {
  display: none;
  z-index: 50;
  top: 3%;
  right: 17%;
  position: absolute;
  width: 230px;
  height: 150px;
  padding: 1% 2% 0% 1%;
  background-color: white;
  border-radius: 12px;
  border: 1.5px solid rgba(128, 128, 128, 0.173);
  box-shadow: rgba(110, 110, 110, 0.064) 0px 3px 6px, rgba(123, 120, 120, 0.027) 0px 3px 6px;
}
.Categorias-h .c-dropdown ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav-bar {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8%;
  background-color: white;
}
.nav-bar #active-link {
  width: 100px;
  background-color: #fec842;
  border-radius: 12px;
  color: white;
}
.nav-bar #active-link:hover {
  background-color: gray;
}

.nav-bar_link {
  width: 10%;
  height: 60%;
  display: grid;
  align-content: center;
  justify-content: center;
}
@media (max-width: 1200px) {
  .nav-bar_link {
    width: 30%;
  }
}

.centro-cimo {
  width: 100%;
  height: 100%;
  padding: 2%;
  margin: 0 0 3% 0;
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
  flex-wrap: wrap;
}
.centro-cimo * {
  flex-grow: 0;
  flex-shrink: 3;
}

.centro-cimo_elemento {
  width: 60%;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: linear-gradient(90deg, rgb(222, 191, 113) 0%, rgb(255, 206, 84) 81%);
  border-radius: 14px;
  overflow: hidden;
}
.centro-cimo_elemento .ilustration {
  width: 35%;
}
@media (max-width: 1200px) {
  .centro-cimo_elemento {
    width: 90%;
    margin: 0 auto;
  }
}

.centro-cimo_elemento:last-of-type {
  width: 30%;
  gap: 12px;
  background-image: none;
}
@media (max-width: 1200px) {
  .centro-cimo_elemento:last-of-type {
    width: 90%;
    margin: 0 auto;
  }
}
.centro-cimo_elemento:last-of-type .centro-cimo_sub-elemento {
  width: 100%;
  height: 48%;
  padding: 4%;
  background-color: white;
  box-shadow: rgba(110, 110, 110, 0.064) 0px 3px 6px, rgba(123, 120, 120, 0.027) 0px 3px 6px;
  border-radius: 14px;
}
.centro-cimo_elemento:last-of-type .centro-cimo_sub-elemento:last-of-type {
  display: grid;
  align-content: center;
  font-size: 1.3em;
  justify-content: center;
}

.centro-cimo_elemento_texto {
  width: 50%;
  display: grid;
  align-content: center;
  margin-left: 3px;
  padding: 3% 0;
}
.centro-cimo_elemento_texto h1 {
  width: 100%;
  padding: 0 2%;
  font-size: 2.2em;
}
.centro-cimo_elemento_texto p {
  width: 100%;
  padding: 0 2%;
  font-size: 1.5em;
}
@media (max-width: 1200px) {
  .centro-cimo_elemento_texto {
    width: 90%;
    margin: 0 auto;
  }
  .centro-cimo_elemento_texto :is(p, h1) {
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0 auto;
    font-size: larger;
  }
  .centro-cimo_elemento_texto a {
    margin: 0 auto;
  }
}

.centro-cimo_elemento_texto ~ :is(img) {
  width: 45%;
}

.centro-cimo_sub-elemento:nth-of-type(1) {
  display: flex;
  align-items: center;
}
.centro-cimo_sub-elemento:nth-of-type(1) .lado-texto {
  width: 45%;
  height: 100%;
  display: grid;
  align-content: center;
}
.centro-cimo_sub-elemento:nth-of-type(1) .lado-texto h2 {
  font-size: 1.3em;
  width: 100%;
}
.centro-cimo_sub-elemento:nth-of-type(1) .lado-texto p {
  width: 100%;
  font-size: 1.2em;
}
.centro-cimo_sub-elemento:nth-of-type(1) .lado-imagem {
  width: 50%;
  position: relative;
  display: flex;
  justify-content: end;
}
.centro-cimo_sub-elemento:nth-of-type(1) .lado-imagem .lado-imagem-elemento {
  min-width: 20px;
  width: 50%;
  height: 100%;
  height: auto;
  margin: 0 auto;
}

.lado-imagem-grupo-pai {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 4% 0;
  gap: 0;
}
.lado-imagem-grupo-pai .lado-imagem-grupo, .lado-imagem-grupo-pai .lado-imagem-final-grupo {
  width: 50px;
  height: 50px;
  border: 1px solid #505763;
  border-radius: 50%;
  margin-right: -4%;
}
.lado-imagem-grupo-pai .lado-imagem-final-grupo {
  margin-right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  color: white;
  background-color: #505763;
}

.a-ver-mais {
  text-decoration: underline;
}

.btn-ver-mais {
  width: 60%;
  padding: 2% 2%;
  border-radius: 12px;
  border: 1.5px solid #505763;
  display: flex;
  justify-content: center;
}
.btn-ver-mais:hover {
  background-color: #505763;
  color: white;
}

.container-fluxo {
  width: 100%;
  margin: 5% 0;
  padding: 3% 2%;
  background-color: white;
  overflow: hidden;
  border-top: 2px solid rgba(80, 87, 99, 0.1098039216);
}

.info-adicionais, .items-catg {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}
@media (max-width: 1200px) {
  .info-adicionais, .items-catg {
    flex-wrap: wrap;
  }
}

.mini-catg {
  width: auto;
}
.mini-catg h2 {
  padding-left: 5%;
}

.items-catg {
  height: 100%;
  gap: 15px;
  padding: 3% 0;
  flex-wrap: nowrap;
}
@media (max-width: 1200px) {
  .items-catg {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.items-catg_elemento {
  width: 20%;
  height: 100%;
  display: grid;
  justify-content: center;
}
.items-catg_elemento span {
  display: block;
  width: 100%;
  padding: 18px 0;
  text-align: center;
}
.items-catg_elemento:hover div {
  background-color: #fec842;
}

.items-catg_elemento div {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: rgba(80, 87, 99, 0.1098039216);
  display: flex;
  align-items: center;
  justify-content: center;
}
.items-catg_elemento div img {
  width: 80%;
}
.items-catg_elemento div img[src$=".png"] {
  width: 100%;
}

.publicidade {
  width: 100%;
  display: flex;
  gap: 2%;
  flex-direction: row;
  margin: 3% 0;
  margin-bottom: 5%;
}
@media (max-width: 1200px) {
  .publicidade {
    flex-direction: column;
    gap: 12px;
  }
}

.publicidade__card {
  width: 60%;
  height: 380px;
  min-height: 100%;
  background-color: rgba(245, 222, 179, 0.089);
  border-radius: 6px;
  border: 1.5px solid rgba(128, 128, 128, 0.186);
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1200px) {
  .publicidade__card {
    width: 100%;
  }
}

.publicidade__card .publicidade__card__elemento {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.publicidade__card .publicidade__card__elemento img {
  width: 90%;
}
.publicidade__card .publicidade__card__elemento p {
  width: 80%;
  line-height: 1.4em;
}

.publicidade__card .publicidade__card__elemento p:nth-child(2) {
  font-size: 2em;
  font-weight: 700;
  margin: 2% 0;
  line-height: 1em;
}

.publicidade__card .publicidade__card__elemento span {
  display: block;
  width: 80%;
  font-weight: 100px;
  font-size: 0.8em;
}

.publicidade .is-grd {
  width: 38%;
  background-image: url("../img/fones.jfif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 1200px) {
  .publicidade .is-grd {
    width: 100%;
  }
}

.is-grd span {
  display: block;
  width: 100px;
  height: 100px;
  right: 0;
  background-color: red;
  color: #fec842;
  border-radius: 50%;
}

.slide-produtos {
  width: 100vw;
  height: 100%;
}

.scroll-slide {
  width: 1444px;
  overflow-x: scroll;
  height: 100%;
  display: flex;
  overflow: scroll;
  justify-content: center;
  padding: 3% 1%;
  padding-left: 30%;
}
@media (max-width: 1200px) {
  .scroll-slide {
    width: 100vw;
    padding-left: 900px;
  }
}

.card, .oferta-area-side, .oferta-destaque {
  width: 22em;
  height: 25em;
  min-width: 18em;
  padding: 2%;
  border-radius: 12px;
  background-color: rgba(252, 248, 239, 0.484);
  border: 1.5px solid rgba(128, 128, 128, 0.186);
  display: grid;
  gap: 10px;
  margin-left: 2%;
}

.card__percent {
  width: 100%;
  display: flex;
  justify-content: right;
  margin-bottom: 0%;
}
.card__percent .desconto {
  display: block;
  width: 3em;
  height: 1.5em;
  background-color: red;
  border-radius: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1200px) {
  .card__percent {
    padding-top: 3%;
    padding-right: 2%;
  }
}

.card__text {
  display: flex;
  flex-wrap: wrap;
}

.card__text :is(h3, div) {
  width: 80%;
  margin: 0 auto;
}

.card__price {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
}
.card__price .price {
  font-size: 1.5em;
  font-weight: 600;
}
.card__price .price + span {
  font-size: smaller;
}

.card__img {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.card__img img {
  width: 50%;
}

.card__btn {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.card__btn button {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.card__btn button:nth-child(1) {
  width: 30%;
  height: 35px;
  background-color: #fec842;
  border-radius: 8px;
}
.card__btn button:nth-child(1) img {
  width: 28%;
}

.card__btn button:nth-child(2) {
  width: 50%;
  height: 35px;
  background-color: #fec842;
  border-radius: 8px;
  font-size: 1em;
  color: #505763;
  gap: 5px;
}
.card__btn button:nth-child(2) img {
  width: 20px;
  height: 20px;
}

.card .card__btn button:hover, .oferta-area-side .card__btn button:hover, .oferta-destaque .card__btn button:hover {
  background-color: #ffb700;
}

.Oferta {
  width: 90%;
  margin: 5% auto;
}
.Oferta h2 {
  text-align: center;
  margin: 3% auto;
}

.oferta-area {
  width: 100%;
  height: 600px;
  display: flex;
}
@media (max-width: 1200px) {
  .oferta-area {
    height: 100%;
  }
}

.oferta-destaque {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.oferta-destaque * {
  width: 90%;
}

.oferta-link {
  display: flex;
  justify-content: center;
}

.oferta-area {
  display: flex;
  flex-direction: row;
}
@media (max-width: 1200px) {
  .oferta-area {
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }
}

.oferta-area-side {
  width: 70%;
  height: 100%;
}

.dados-producto {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.dados-producto p, .dados-producto li {
  margin: 1% 0;
}
@media (max-width: 1200px) {
  .dados-producto {
    width: 60%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}

.sec-produto {
  margin-top: 3%;
}

.cores-lista {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 12px;
}

.cores-lista div {
  width: 50px;
  height: 50px;
  background-color: gray;
  border-radius: 14px;
}

body .cor-rose {
  background-color: rosybrown;
}

body .cor-blue {
  background-color: blue;
}

body .cor-red {
  background-color: red;
}

body .cor-black {
  background-color: black;
}

body .cor-gold {
  background-color: gold;
}

footer, .footer__elemento {
  width: 100%;
  height: 100%;
}

.footer__elemento {
  padding: 4%;
}
@media (max-width: 900px) {
  .footer__elemento {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.footer__elemento:nth-of-type(1) {
  background-image: linear-gradient(90deg, rgb(222, 191, 113) 0%, rgb(255, 206, 84) 81%);
}
.footer__elemento:nth-of-type(1) .footer__elemento__content:nth-of-type(1) {
  font-size: 3.9em;
}
@media (max-width: 900px) {
  .footer__elemento:nth-of-type(1) .footer__elemento__content:nth-of-type(1) {
    font-size: 2.8em;
  }
}
.footer__elemento:nth-of-type(1) .footer__elemento__content:nth-of-type(2) {
  margin-bottom: 4%;
  font-size: 1.5em;
  line-height: 35px;
}

.footer__elemento__content {
  width: 50%;
  color: white;
  padding: 0.5% 0;
  text-shadow: rgba(110, 110, 110, 0.064) 0px 3px 6px, rgba(123, 120, 120, 0.027) 0px 3px 6px;
}
@media (max-width: 900px) {
  .footer__elemento__content {
    width: 100%;
    text-align: center;
  }
}

footer .footer__elemento .is-btn, .footer__elemento .footer__elemento .is-btn {
  border: 2px solid whitesmoke;
  font-size: 1.5em;
  border-radius: 12px;
  color: white;
  padding: 1% 3%;
  margin: 0 auto;
}
footer .footer__elemento .is-btn:hover, .footer__elemento .footer__elemento .is-btn:hover {
  background-color: whitesmoke;
  color: #505763;
}
@media (max-width: 900px) {
  footer .footer__elemento .is-btn, .footer__elemento .footer__elemento .is-btn {
    width: 50%;
    padding: 2%;
    text-align: center;
  }
}

.footer__elemento:nth-of-type(2) {
  background-color: #505763;
  color: whitesmoke;
  display: flex;
}

.footer__elemento__content-2 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
@media (max-width: 900px) {
  .footer__elemento__content-2 {
    margin: 3% auto;
    flex-direction: column;
    text-align: center;
  }
}

.footer__elemento__content-2:nth-of-type(2) {
  width: 40%;
  justify-content: end;
  align-items: center;
}
.footer__elemento__content-2:nth-of-type(2) a {
  color: white;
}

.social-button {
  width: 50px;
  height: 50px;
  border: 2px solid whitesmoke;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-button img {
  width: 50%;
}
.social-button:hover {
  border-color: #fec842;
  background-color: #fec842;
}

.content_info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
}
.content_info a:hover {
  color: #fec842;
  text-decoration: underline;
}
@media (max-width: 900px) {
  .content_info {
    flex-direction: column;
    text-align: center;
  }
}

.cart {
  background-color: whitesmoke;
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 100vh;
  padding: 4% 3%;
  display: none;
  flex-direction: column;
  gap: 50px;
  border-left: 3px solid rgba(80, 87, 99, 0.0431372549);
}
@media (max-width: 900px) {
  .cart {
    width: 60%;
  }
}

.cart__element {
  width: 100%;
}

.cart__element:nth-child(1) {
  display: flex;
  justify-content: flex-end;
}
.cart__element:nth-child(1) button:hover {
  transform: scale(1.1);
}

.cart__element--side {
  width: 100%;
  padding-bottom: 4%;
  border-bottom: 1.8px solid #505763;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart__element--side p {
  font-size: 1.8em;
  font-weight: 400;
}
.cart__element--side span {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #fec842;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  font-weight: 500;
}

.cart__element--itemsList {
  width: 100%;
  padding-top: 6%;
}
.cart__element--itemsList p {
  padding: 2% 0;
  text-align: center;
}

/**Estilos para area de Acesso**/
.body-container {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: start;
}
@media (max-width: 1200px) {
  .body-container {
    flex-wrap: wrap;
  }
}

.body-container :is(.a-header, .a-main) {
  width: 60%;
  height: 100%;
  min-height: 100vh;
}
@media (max-width: 1200px) {
  .body-container :is(.a-header, .a-main) {
    width: 100%;
    min-height: 100%;
  }
}

.body-container .a-header {
  width: 40%;
  background-color: #fec842;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.body-container .a-header .a-header__element--a {
  width: 50%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
}
.body-container .a-header .a-header__element--a img {
  width: 30px;
}
.body-container .a-header .a-header__element--a:hover {
  color: unset;
  text-decoration: underline;
}
@media (max-width: 1200px) {
  .body-container .a-header {
    background-color: transparent;
    justify-content: start;
    padding: 3% 6%;
  }
}

.a-header__element {
  width: 100%;
  height: 20%;
}

.is-container {
  min-width: 100%;
  width: 90%;
  margin: 0 auto;
  height: 70vh;
  min-height: 70%;
}
@media (max-width: 1200px) {
  .is-container {
    display: none;
    height: 0%;
  }
}

.body-container .controllers-slide {
  width: 90%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
}
@media (max-width: 1200px) {
  .body-container .controllers-slide {
    display: none;
  }
}
.body-container .controllers-slide span {
  display: inline-flex;
  width: 60px;
  height: 15px;
  border-radius: 20px;
  background-color: grey;
}

.slide-acess {
  width: 100%;
  padding: 4%;
  padding-left: 8%;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  align-content: center;
  gap: 100px;
}
.slide-acess img {
  margin-left: 70px;
  margin: 0 auto;
  width: 90%;
}
.slide-acess img:nth-child(1) {
  animation: slide-count;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes slide-count {
  0% {
    margin-left: initial;
  }
  10% {
    margin-left: initial;
  }
  20% {
    margin-left: initial;
  }
  30% {
    margin-left: initial;
  }
  40% {
    margin-left: -570px;
  }
  50% {
    margin-left: -570px;
  }
  60% {
    margin-left: -570px;
  }
  70% {
    margin-left: -570px;
  }
  80% {
    margin-left: -1140px;
  }
  89% {
    margin-left: -1140px;
  }
  95% {
    margin-left: -1140px;
  }
  100% {
    margin-left: initial;
  }
}
.a-main {
  padding: 8% 0% 1% 15%;
}
.a-main form, .a-main fieldset {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 20px;
}
.a-main form span, .a-main fieldset span {
  width: 72%;
  margin: 1% 0;
}
.a-main form .input, .a-main fieldset .input {
  margin: 2% 0;
  display: block;
  width: 70%;
  height: 45px;
  border: 2px solid rgba(92, 86, 86, 0.262745098);
  border-radius: 6px;
  padding: 0 2%;
}
.a-main form .input:focus, .a-main form .input:hover, .a-main fieldset .input:focus, .a-main fieldset .input:hover {
  border: 2px solid #fec842;
  background-color: #fffafa;
}
.a-main form a, .a-main fieldset a {
  width: 70%;
}
.a-main form a:nth-of-type(2), .a-main fieldset a:nth-of-type(2) {
  text-align: center;
}
.a-main form .forget, .a-main fieldset .forget {
  text-decoration: underline;
  text-align: end;
}
.a-main form #form-btn, .a-main fieldset #form-btn {
  width: 70%;
  height: 40px;
  border-radius: 6px;
  color: #505763;
  text-shadow: rgba(110, 110, 110, 0.064) 0px 3px 6px, rgba(123, 120, 120, 0.027) 0px 3px 6px;
  background-color: #fec842;
}
.a-main form #form-btn:hover, .a-main fieldset #form-btn:hover {
  background-color: #006bff;
  color: #fffafa;
}/*# sourceMappingURL=styles.css.map */