$color: #fec842;
$color2: #505763;
$color3: #006bff;
$gradient:linear-gradient(90deg, rgba(222,191,113,1) 0%, rgba(255,206,84,1) 81%);
$background: rgba(252, 248, 239, 0.484);
$shadow: 0px 3px 6px, rgba(150, 150, 150, 0.027) 0px 3px 6px;
$shadow-especial: rgba(110, 110, 110, 0.064) 0px 3px 6px, rgba(123, 120, 120, 0.027) 0px 3px 6px;
$mediaScreenResize: "max-width: 1200px";

::-webkit-scrollbar {
    width: 13px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: grey; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ffb700; 
  }

//font para o texto todo
@font-face {
    font-family: fonte1;
    src: url("../font/WorkSans-VariableFont_wght.ttf");
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: fonte1;
    text-decoration: none;
    list-style: none;
    background-color: transparent;
    border: 0;
    transition: .5s, color;
}

body{
    position: relative;
    width: auto;
    max-width: 100vw;
    height: 100%;
    background-color: $background;
    color: $color2;
    scroll-behavior: smooth;
}

button{
    cursor: pointer;
}

.svg{
    width: 1em;
}

a{
    color: $color2;

    &:hover{
        color: $color;
    }
}

:is(a, button, div){
    
    transition: .2s;
}

div{
    overflow: hidden;
    transition: .4, display;
}

input[type="checkbox"]{
    display: none;
}

label{
    width: 100%;
    cursor: pointer;
}

.price{
    color: rgba(1, 99, 1, 0.804);
    padding: 4% 0;
}

.last-price{
    color: $color2;
    text-decoration: line-through;
}
//topo
.bloco_cimo{
    width: 100%;
    height: 43px;
    background-color: $color;
    display: grid;
    align-content: center;
    justify-content: center;
}

.header{
    width: 100%;
    height: 100%;
    padding: 2%;
    background-color: white;
    border-bottom: 1px solid rgba(128, 128, 128, 0.184);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    align-items: center;
    @media (max-width:1200px) {
        width: 100%;
        margin: 0 auto;
        justify-content: space-around;
        flex-wrap: wrap;
        .h_seccao{
            width: 40%;
            display: grid;
            align-items: center;
            justify-content: center;

            .h_seccao_btn{
                width: 100%;
                display: flex;
                justify-content: center;

                img{
                    width: 1.8em;
                }
            }
        }
    }
}



.h_seccao{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    @media ($mediaScreenResize) {
        nav{
            background-color: $color;
        }
    }
}

.h_seccao:nth-of-type(2){
    display: none;
    @media (max-width:1200px) {
        display: inline;
    }
}
.logo-texto{
    font-size: 2em;
    font-weight: 400;
}

.logo-texto::first-letter{
    color: $color;
    font-weight: 500;
}

.h_seccao input[type="search"]{
    width: 85%;
    height: 35px;
    border-radius: 24px;
    padding-left: 20px;
    padding-right: 5px;
    background-color: $background;
    border: 1px solid gray;
    &:focus ~ button{
        display: none;
        
    }
}

.h_seccao input[type="search"] ~ button{
    @media (max-width:1200px) {
        display: none;   
    }
}

.h_seccao:nth-of-type(3) button{
    margin-left: -14%;
}

.h_seccao_md{
    display: flex;
    gap: 6px;
}

.h_seccao_md :is(div, a, button){
    display: grid;
}

.h_seccao_md img{
    width: 40px;
}

@media (max-width:1200px) {
    :is(.h_seccao:not(:first-of-type, :nth-of-type(2))){
        display: none;
    }

    #t-check:checked ~ .h_seccao{
        background-color: $color;
        padding: 3%;
        width: 80%;
        display: grid;

        a:hover{
            color: $background;
        }
    }
    #t-check:checked ~ .h_seccao:not(:last-of-type){
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
        margin-bottom: -2%;
    }
}


.Categorias-h{
    .c-dropdown{
        display: none;
        z-index: 50;
        top: 3%;
        right: 17%;
        position: absolute;
        width: 230px;
        height: 150px;
        padding: 1% 2% 0% 1%;
        background-color: white;
        border-radius: 12px;
        border: 1.5px solid rgba(128, 128, 128, 0.173);
        box-shadow: $shadow-especial;

        ul{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        
    }
}
//estilos para o nav-bar
.nav-bar{
    width: 100%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8%;
    background-color: white;

    #active-link{
        width: 100px;
        background-color: $color;
        border-radius: 12px;
        color: white;

        &:hover{
            background-color: gray;
        }
    }
}

.nav-bar_link{
    width: 10%;
    height: 60%;
    display: grid;
    align-content: center;
    justify-content: center;

    @media (max-width:1200px) {
        width: 30%;   
    }
}

.centro-cimo{
    width: 100%;
    height: 100%;
    padding: 2%;
    margin: 0 0 3% 0;
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;

    *{
        flex-grow: 0;
        flex-shrink: 3;
    }
    
}

.centro-cimo_elemento{
    width: 60%;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: $gradient;
    border-radius: 14px;
    overflow: hidden;

    .ilustration{
        width: 35%;
    }

    @media (max-width:1200px) {
        width: 90%;
        margin: 0 auto;  
    }
}

.centro-cimo_elemento:last-of-type{
    width: 30%;
    gap: 12px;
    background-image: none;
    @media (max-width:1200px) {
        width: 90%;
        margin: 0 auto;  
    }
    .centro-cimo_sub-elemento{
        width: 100%;
        height: 48%;
        padding: 4%;
        background-color: white;
        box-shadow: $shadow-especial;
        border-radius: 14px;
    }

    .centro-cimo_sub-elemento:last-of-type{
        display: grid;
        align-content: center;
        font-size: 1.3em;
        justify-content: center;
    }
}

.centro-cimo_elemento_texto{
    width: 50%;
    display: grid;
    align-content: center;
    margin-left: 3px;
    padding: 3% 0;
    h1{
        width: 100%;
        padding: 0 2%;
        font-size: 2.2em;
    }
    p{
        width: 100%;
        padding: 0 2%;
        font-size: 1.5em;
    }

    @media (max-width:1200px) {
        width: 90%;
        margin: 0 auto;  

        :is(p, h1){
            width: 100%;
            height: auto;
            padding: 0px;
            margin: 0 auto;
            font-size: larger;
        }

        a{
            margin: 0 auto;
        }
    }
}

.centro-cimo_elemento_texto ~ :is(img){
    width: 45%;
}

.centro-cimo_sub-elemento:nth-of-type(1){
    display: flex;
    align-items: center;

    .lado-texto{
        width: 45%;
        height: 100%;
        display: grid;
        align-content: center;
        h2{
            font-size: 1.3em;
            width: 100%;
        }

        p{
            width: 100%;
            font-size: 1.2em;
        }
        
    }

    .lado-imagem{
        width: 50%;
        position: relative;
        display: flex;
        justify-content: end;

        .lado-imagem-elemento{
            min-width: 20px;
            width: 50%;
            height: 100%;
            height: auto;
            margin: 0 auto;
        }
    }
}

.lado-imagem-grupo-pai{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 4% 0;
    gap: 0;
    .lado-imagem-grupo{
        width: 50px;
        height: 50px;
        border: 1px solid $color2;
        border-radius: 50%;
        margin-right: -4%;
    }

    .lado-imagem-final-grupo{
        @extend .lado-imagem-grupo;
        margin-right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1em;
        color: white;
        background-color: $color2;
    }
}

.a-ver-mais{
    text-decoration: underline;
}
.btn-ver-mais{
    width: 60%;
    padding: 2% 2%;
    border-radius: 12px;
    border: 1.5px solid $color2;
    display: flex;
    justify-content: center;

    &:hover{
        background-color: $color2;
        color: white;
    }
}

//container
.container-fluxo{
    width: 100%;
    margin: 5% 0;
    padding: 3% 2%;
    background-color: white;
    overflow: hidden;
    border-top: 2px solid #5057631c;
}

//info-adicionais estilos
.info-adicionais{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;

    @media (max-width: 1200px) {
        flex-wrap: wrap;
    }
    
}

.mini-catg{
   width: auto;
   h2{
    padding-left: 5%
   }
}

.items-catg{
    @extend .info-adicionais;
    height: 100%;
    gap: 15px;
    padding: 3% 0;
    flex-wrap: nowrap;
    @media ($mediaScreenResize) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.items-catg_elemento{
    width: 20%;
    height: 100%;
    display: grid;
    justify-content: center;

    span{
        display: block;
        width: 100%;
        padding: 18px 0;
        text-align: center;
    }

    &:hover div{
        background-color: $color;
    }
}

.items-catg_elemento div{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #5057631c;
    display: flex;
    align-items: center;
    justify-content: center;

    img{
        width: 80%;
    }

    img[src$=".png"]{
        width: 100%;
    }
}

//estilos da Publicidades 
.publicidade{
    width: 100%;
    display: flex;
    gap: 2%;
    flex-direction: row;
    margin: 3% 0;
    margin-bottom: 5%;

    @media (max-width:1200px) {
        flex-direction: column;
        gap: 12px;
    }
}

.publicidade__card{
    width: 60%;
    height: 380px;
    min-height: 100%;
    background-color: rgba(245, 222, 179, 0.089);
    border-radius: 6px;
    border: 1.5px solid rgba(128, 128, 128, 0.186);
    display: flex;
    flex-wrap: wrap;

    @media (max-width:1200px) {
        width: 100%;
    }
}

.publicidade__card .publicidade__card__elemento{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    img{
        width: 90%;
    }

    p{
        width: 80%;
        line-height: 1.4em;
    }
}

.publicidade__card .publicidade__card__elemento p:nth-child(2){
    font-size: 2em;
    font-weight: 700;
    margin: 2% 0;
    line-height: 1em;
}

.publicidade__card .publicidade__card__elemento span{
    display: block;
    width: 80%;
    font-weight: 100px;
    font-size: .8em;
}

.publicidade .is-grd{
    width: 38%;
    background-image: url('../img/fones.jfif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width:1200px) {
        width: 100%;
    }
}

.is-grd span{
    display: block;
    width: 100px;
    height: 100px;
    right: 0;
    background-color: red;
    color: $color;
    border-radius: 50%;
}

//area dos produtos
.slide-produtos{
    width: 100vw;
    height: 100%;
}

.scroll-slide{
    width: 1444px;
    overflow-x: scroll;
    height: 100%;
    display: flex;
    overflow: scroll;
    justify-content: center;
    padding: 3% 1%;
    padding-left: 30%;
    
    @media (max-width:1200px) {
        width: 100vw;
        padding-left: 900px;
    }

}

.card{
    width: 22em;
    height: 25em;
    min-width: 18em;
    padding: 2%;
    border-radius: 12px;
    background-color: $background;
    border: 1.5px solid rgba(128, 128, 128, 0.186);
    display: grid;
    gap: 10px;
    margin-left: 2%;
}



.card__percent{
    width: 100%;
    display: flex;
    justify-content: right;
    margin-bottom: 0%;

    .desconto{
        display: block;
        width: 3em;
        height: 1.5em;
        background-color: red;
        border-radius: 20px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    @media (max-width:1200px) {
        padding-top: 3%;
        padding-right: 2%;
    }
}

.card__text{
    display: flex;
    flex-wrap: wrap;
}

.card__text :is(h3, div){
    width: 80%;
    margin: 0 auto;
}

.card__price{
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;

    .price{
        font-size: 1.5em;
        font-weight: 600;
    }

    .price + span{
        font-size: smaller;
    }
}

.card__img{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;

    img{
        width: 50%;
    }
}


.card__btn{
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.card__btn button{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.card__btn button:nth-child(1){
    width: 30%;
    height: 35px;
    background-color: $color;
    border-radius: 8px;
    
    img{
        width: 28%;
    }
}

.card__btn button:nth-child(2){
    width: 50%;
    height: 35px;
    background-color: $color;
    border-radius: 8px;
    font-size: 1em;
    color: $color2;
    gap: 5px;
    img{
        width: 20px;
        height: 20px;
    }
}

.card .card__btn button:hover{
    background-color: #ffb700;
}

//parte das ofertas

.Oferta{
    width: 90%;
    margin: 5% auto;
    h2{
        text-align: center;
        margin: 3% auto;
    }
}

.oferta-area{
    width: 100%;
    height: 600px;
    display: flex;

    @media ($mediaScreenResize) {
        height: 100%;
    }
}

.oferta-destaque{
    @extend .card;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    *{
        width: 90%;
    }
}


.oferta-link{ 
    display: flex;
    justify-content: center;

}

.oferta-area{
    display: flex;
    flex-direction: row;
    @media ($mediaScreenResize) {
        height: 100%;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
    }

}

.oferta-area-side{
    @extend .card;
    width: 70%;
    height: 100%;
}

.dados-producto{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    p, li{
        margin: 1% 0;
    }
    
    @media ($mediaScreenResize) {
        width: 60%;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
}

.sec-produto{
    margin-top: 3%;
}

.cores-lista{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 12px;


}


.cores-lista div{
    width: 50px;
    height: 50px;
    background-color: gray;
    border-radius: 14px;
}

body .cor-rose{
    background-color: rosybrown;
}

body .cor-blue{
    background-color: blue;
}

body .cor-red{
    background-color: red;
}

body .cor-black{
    background-color: black;
}

body .cor-gold{
    background-color: gold;
}


//parte do footer 
footer{
    width: 100%;
    height: 100%;
}

.footer__elemento{
    @extend footer;
    padding: 4%;
    
    @media (max-width: 900px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.footer__elemento:nth-of-type(1){
    background-image: $gradient;
    .footer__elemento__content:nth-of-type(1){
        font-size: 3.9em;
        @media (max-width: 900px) {
           font-size: 2.8em;
        }
    }

    .footer__elemento__content:nth-of-type(2){
        margin-bottom: 4%;    
        font-size: 1.5em;
        line-height: 35px;
    }

}

.footer__elemento__content{
    width: 50%;
    color: white;
    padding: .5% 0;
    text-shadow: $shadow-especial;
    @media (max-width: 900px) {
        width: 100%;
        text-align: center;
    }
}

footer .footer__elemento .is-btn{
    border: 2px solid whitesmoke;
    font-size: 1.5em;
    border-radius: 12px; 
    color:white;
    padding: 1% 3%;
    margin: 0 auto;

    &:hover{
        background-color: whitesmoke;
        color: $color2;
    }    
    @media (max-width: 900px) {
        width: 50%;
        padding: 2%;
        text-align: center;
    }
}

.footer__elemento:nth-of-type(2){
    background-color: $color2;
    color: whitesmoke;
    display: flex;
}

.footer__elemento__content-2{
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
    @media (max-width: 900px) {
        margin: 3% auto;
        flex-direction: column;
        text-align: center;
    }
}

.footer__elemento__content-2:nth-of-type(2){
    width: 40%;
    justify-content: end;
    align-items: center;

    a{
        color: white;
    }
}

.social-button{
    width: 50px;
    height: 50px;
    border: 2px solid whitesmoke;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width: 50%;
    }

    &:hover{
        border-color: $color;
        background-color: $color;
    }
}

.content_info{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;

    a:hover{
        color: $color;
        text-decoration: underline;
    }
    @media (max-width: 900px) {
        flex-direction: column;
        text-align: center;
    }
}


//area do carrinho
.cart{
    background-color: whitesmoke;
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 100vh;
    padding: 4% 3%;
    display: none;
    flex-direction: column;
    gap: 50px;
    border-left: 3px solid #5057630b;
    @media (max-width: 900px) {
        width: 60%;    
    }
}

.cart__element{
    width: 100%;
}

.cart__element:nth-child(1){
    display: flex;
    justify-content: flex-end;

    button{
        &:hover{
            transform: scale(1.1);
        }
    }
}

.cart__element--side{
    width: 100%;
    padding-bottom: 4%;
    border-bottom: 1.8px solid $color2;
    display: flex;
    align-items: center;
    justify-content: space-between;

    p{
        font-size: 1.8em;
        font-weight: 400;
    }

    span{
        display: flex;
        width: 40px;
        height: 40px;
        background-color: $color;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        font-size: 1.5em;
        font-weight: 500;
    }
}

.cart__element--itemsList{
    width: 100%;
    padding-top: 6%;
    p{
        padding: 2% 0;
        text-align: center;
    }
}


/**Estilos para area de Acesso**/
.body-container{
    position: relative;
    display: flex;
    align-items: start;
    justify-content: start;
    @media ($mediaScreenResize) {
        flex-wrap: wrap;
    }
}

.body-container :is(.a-header, .a-main){
    width: 60%;
    height: 100%;
    min-height: 100vh;
    @media ($mediaScreenResize) {
        width: 100%;
        min-height: 100%;
    }
}

.body-container .a-header{
    width: 40%;
    background-color: #fec842;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .a-header__element--a{
        width: 50%;
        padding-left: 3%;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 5px;

        img{
            width: 30px;
        }
        &:hover{
            color: unset;
            text-decoration: underline;
        }
    }
    @media ($mediaScreenResize) {
        background-color: transparent;
        justify-content: start;
        padding: 3% 6%;
    }
}

.a-header__element{
    width: 100%;
    height: 20%;
}

.is-container{
    min-width: 100%;
    width: 90%;
    margin: 0 auto;
    height: 70vh;
    min-height: 70%;
    @media ($mediaScreenResize) {
        display: none;
        height: 0%;
    }
}

.body-container .controllers-slide{
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 22px;
    @media ($mediaScreenResize) {
        display: none;
    }
    span{
        display: inline-flex;
        width: 60px;
        height: 15px;
        border-radius: 20px;
        background-color: grey;
    }
}

.slide-acess{
    width: 100%;
    padding: 4%;
    padding-left: 8%;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    align-content: center;
    gap: 100px;
    img{
        margin-left: 70px;
        margin: 0 auto;
        width: 90%;
        &:nth-child(1){
            animation: slide-count;
            animation-duration: 10s;
            animation-iteration-count: infinite;
        }


    }    
    
}

@keyframes slide-count {
    0%{
        margin-left: initial;

    }
    10%{
        margin-left: initial;
    }
    20%{
        margin-left: initial;
    }
    30%{
        margin-left: initial;
    }
    40%{
        margin-left: -570px;
    }

    50%{
        margin-left: -570px;
    }
    60%{
        margin-left: -570px;
    }
    70%{
        margin-left: -570px;
    }
    80%{
        margin-left: -(570px*2);
    }
    89%{
        margin-left: -(570px*2);
    }
    95%{
        margin-left: -(570px*2);
    }
    100%{
        margin-left: initial;
    }

}

.a-main{
    padding: 8% 0% 1% 15%;

    form, fieldset{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 20px;

        span{
            width: 72%;
            margin: 1% 0;
        }
        .input{
            margin: 2% 0;
            display: block;
            width: 70%;
            height: 45px;
            border: 2px solid #5c565643;
            border-radius: 6px;
            padding: 0 2%;

            &:focus,&:hover{
                border: 2px solid $color;
                background-color: #fffafa;
            }
        }

        a{
            width: 70%;
            &:nth-of-type(2){
                text-align: center;
            }
        }



        .forget{
            text-decoration: underline;
            text-align: end;
        }

        #form-btn{
            width: 70%;
            height: 40px;
            border-radius: 6px;
            color: #505763;
            text-shadow: $shadow-especial;
            background-color: $color;
            &:hover{
                background-color: #006bff;
                color: #fffafa;
            }
            & + button{
                width: 70%;
                text-align: center;
                color: #505763;
                &:hover{
                    color: $color;
                }
            }
        }
    }
}


.btn-especial{
    width: 70%;
    margin: 4% auto;
    color: #505763;

    &:hover{
        color: $color;
    }
}

//section about


.s-main__element{
    padding: 6%;
    font-size: 1.7em;

    &:nth-child(1){
        height: 650px;
        background: $gradient;
        position: relative;
        font-size: 2em;
        @media ($mediaScreenResize) {
            width: 100%;
            height: 100%
         }       

        &::before{
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('../img/background.png');
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 50%;
            z-index: 0;
            @media ($mediaScreenResize) {
               width: 0;
        }
        }
        
        *{
            margin: 2% 0;
            z-index: 50;
            &:nth-child(1){
                font-size: 2.8em;
                z-index: 50;
            }
            &:nth-child(2){
                line-height: 1.3em;
            }
        }

        a{
            position: absolute;
            width: 25%;
            border-radius: 12px;
            border: 1.5px solid $color2;
            padding: 1% 0;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 12px;

            &:hover{
                background-color: $color2;
                color: whitesmoke;
            }

            img{
                width: 40px;
            }
            @media ($mediaScreenResize) {
                position: static;
                width: 70%;
                margin: 4% 0;
             }
        }
    }

    &:nth-child(2){
        margin-bottom: 4%;
    }
    
}

.s-main p{
        width: 76%;
        @media ($mediaScreenResize) {
            width: 90%;
            height: 100%;
    }
}

.s-main__element .s-main__element--span{
    display: flex;
    align-items: center;
    width: 14%;
    border-bottom: 3px solid $color;
    padding: .50% 0;
    font-size: 1em;
    margin: 0 0 .8% 0;
    @media ($mediaScreenResize) {
        width: 200px;
        margin: 3% 0;
    }
}

.s-main__element .s-main__element--p{
    margin: 0 0 3% 0;
    span{
        font-weight: 700;
        font-size: 1.2em;
        color: $color;
    }
}

.s-main__element--uls{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

.ul__element{
    width: 40%;
    height: 400px;
    margin: 4% 0 0 0;
    padding: 4%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    background-color: $color;
    border-radius: 12px;

    li:not(:nth-child(1)){
        margin: 0 0 0 1%;
        list-style: circle;
    }
    @media ($mediaScreenResize) {
        width: 100%;
        height: 100%;
        padding: 10%;
}
}